<div class="productPakage" >
    <h1>{{product.title}}</h1>
    <h2>Cuesta ${{product.price}}</h2>
    <p>Quedan: {{product.stock}}</p>
    <p>Categoria {{product.category}}</p>
    <p>Sobre el producto:</p>
    <p>{{product.description}}</p>
    <div class="productPakage__buttonPad" id="{{product._id}}">
        <div>
            <input type="number" name="quantity+" id="quantity+">
            <button value="add-to-cart">Agregar al carrito</button>
        </div>
        <div>
            <input type="number" name="quantity-" id="quantity-">
            <button value="substract-of-cart">Retirar del carrito</button>
        </div>
    </div>
    <script>
        let cartId = "{{cartId}}"
    </script>
</div>