<div class="productPakage" >
    <h1>{{product.title}}</h1>
    <h2>Cuesta ${{product.price}}</h2>
    <p>Quedan: {{product.stock}}</p>
    <p>Categoria {{product.category}}</p>
    <p>Sobre el producto:</p>
    <p>{{product.description}}</p>
    <div id0="{{product._id}}">
        <button value="add-to-cart">Agregar al carrito</button>
    </div>
</div>