<div>
    <h1>Vista de real time</h1>
    <a href="/views/prod">Hacia Vista de actualización manual</a>
</div>
<div class="gondola">
    {{#each products}}
        <div class="gondola__productCard">
            <h1>{{this.title}}</h1>
            <h2>Cuesta ${{this.price}}</h2>
            <p>Qudan: {{this.stock}}</p>
            <p>{{this.description}}</p>e
            <div>
                <button value="create-update" id={{this.id}}>Update</button>
                <button value="delete" id={{this.id}}>Eliminar</button>
            </div>
        </div>
    {{/each}}
</div>